<h1>id:<%= @task.id %>のタスク詳細</h1>

<p><%= @task.content %></p>

<%= link_to '一覧へ戻る', tasks_path %>

<%= link_to '編集ページへ', edit_task_path(@task) %>

<%= link_to '削除する', @task, method: :delete, data:{ confirm: '本当によろしいですか？'} %>